{################################################################################}
{# Copyright (c) 2022-2023 Bayerische Motoren Werke Aktiengesellschaft (BMW AG) #}
{#                                                                              #}
{# This program and the accompanying materials are made available under the     #}
{# terms of the Eclipse Public License 2.0 which is available at                #}
{# http://www.eclipse.org/legal/epl-2.0.                                        #}
{#                                                                              #}
{# SPDX-License-Identifier: EPL-2.0                                             #}
{################################################################################}
{% extends "baseclass.h.j2" %}

{#############################################################################}

{% block includes %}
    {% block includes_special %}{% endblock %}
    #include "Storyboard/ByValueCondition/{{ node.umlClass.name }}_impl.h"
    #include <agnostic_behavior_tree/action_node.h>
    #include <cassert>
    {% for dep in node.dependencies %}
    #include {{dep.include}}
    {% endfor %}
{% endblock %}
{#############################################################################}

{% block nodetype %}
ActionNode
{% endblock %}

{#############################################################################}

{% block onInit %}
void onInit() override{};
{% endblock %}

{#############################################################################}

{% block tick %}
    yase::NodeStatus tick() override
    {
        assert(impl_);
        return impl_->IsSatisfied() ? yase::NodeStatus::kSuccess : yase::NodeStatus::kRunning;
    };
{% endblock %}

{#############################################################################}

{% block blackboard_getter %}
    {% block blackboard_getter_special %}{% endblock %}

    {% for var in node.dependencies %}
        auto {{util.local(var)}} = blackboard.get<{{var.type}}>("{{util.tag(var)}}");
    {% endfor %}

     impl_ = std::make_unique<{{ose_namespace}}::{{node.umlClass.name}}>(
            {{ose_namespace}}::{{node.umlClass.name}}::Values{
                {% block implementation_values_special %}{% endblock %}
                {{ node.values | join(',\n') }}
            },
            {{ose_namespace}}::{{node.umlClass.name}}::Interfaces{
                {% for var in node.blackboard_getter %}
                    {{util.local(var)}}{{',' if not loop.last else ''}}
                {% endfor %}
            });
{% endblock %}
{#############################################################################}

{% block member_definitions %}
std::unique_ptr<{{ose_namespace}}::{{node.umlClass.name}}> impl_{nullptr};
{% block member_definitions_special %}{% endblock %}
{% endblock %}
